body{
    text-align: center;
    background-color: lightgray;
    padding: 50px;
}

h1{
    text-align: center;
}

.chapter{
    text-align: center;
    text-indent: 0;
}

.chapter_container{
    width: 120px;
    padding-left: 30px;
    text-indent: 0;

}

p{
    text-align: left;
    text-indent: 2em;
    max-width: 600px;
    margin: auto;
    margin-top: 1em;
}



a{
    margin-top: 1em;
    display:inline-block
}

.clickable_button{
    border-radius: 20px;
    width: auto;
    box-shadow: inset;
    border: 1;
    color: blue;
}

.chapter_button{
    border-radius: 20px;
    width: auto;
    box-shadow: inset;
    border: 1;
    background-color: lightgray;
}



img{
    max-width: 180px;
}

.card_image{
    max-width: 100px;
    padding: 10px
}

.book_box   {
    background-color: slategray;
    display: flex;
    margin: auto;
}